<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>健身房首页</title>
    <link href="assets/css/bootstrap-grid.css" rel="stylesheet"/>
    <link href="assets/css/font-awesome.css" rel="stylesheet"/>
    <link href="assets/css/zoomslider.css" rel="stylesheet"/>
    <link href="assets/css/swiper.css" rel="stylesheet"/>
    <link href="assets/css/swipebox.css" rel="stylesheet"/>
    <link href="assets/css/aa.css" rel="stylesheet"/>
    <link rel="stylesheet" href="assets/css/jquery-ui.css"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700%7CFira+Sans:400,500,600,700,800,900"
          rel="stylesheet"/>
    <script type="text/javascript" src="assets/js/modernizr-2.6.2.min.js"></script>
</head>
<body>
<nav class="navbar navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar"><span class="sr-only">Toggle navigation</span><span
                    class="icon-bar top-bar"></span><span class="icon-bar middle-bar"></span><span
                    class="icon-bar bottom-bar"></span></button>
            <a class="logo" href="index.html"><img src="assets/images/logo-pink.png" alt="StarGym"/></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <!-- Use <div id="search" class="show">for visible block -->
            <div id="search">
                <form>
                    <div class="input-div">
                        <input type="text" name="search" value="" placeholder="Search"/>
                    </div>
                    <a href="#" class="search-icon fa fa-search"></a>
                </form>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="index.html">首页</a></li>
                <li><a href="gallery.html">课程</a></li>
                <li><a href="coaches.html">教练</a></li>
                <li><a href="contact.html">联系</a></li>
                <li>
                    <a>你好！<span th:text="${session.user.uname}"></span></a>
                    <p>
                        <span><a href="edtpwd.html">修改密码</a></span>
                        <span><a href="userreserve">我的预约</a></span>
                        <span><a href="usercomment">我的评论</a></span>
                        <span><a href="userlogin.html">退出</a></span>
                    </p>
                </li>
            </ul>
        </div>
    </div>
    <style type="text/css">
        ul li {
            cursor: pointer;
        }

        ul li p {
            display: none;
        }

        ul li:hover p {
            display: block;
            background-color: darkslategray;
        }

        ul li p span {
            display: block;
            margin: 5px 0;
            cursor: default;
        }
    </style>
</nav>
<section class="slider-full" data-zs-speed="12000" data-zs-interval="7000" data-zs-switchspeed="4000"
         data-zs-src="[&quot;assets/images/_slider-1.jpg&quot;, &quot;assets/images/_slider-2.jpg&quot;, &quot;assets/images/_slider-3.jpg&quot;]">
    <div class="item">
        <div class="container">
            <div class="content">
                <h3>减掉你的体重 <br/><span>两周时间</span></h3>
            </div>
        </div>
    </div>
</section>


<section class="block-white">
    <div class="container">
        <h3>Be stronger <br/><span>change your body with stargym</span></h3>
    </div>
</section>

<section class="plans parallax" style="background-image: url(assets/images/_block-black-parallax.jpg);">
    <div class="container">
        <h3>课程介绍<br/></h3>
        <div class="row" id="dysource">
        </div>
        <br><br>
    </div>
    <!--使用jquery框架-->
    <script type="text/javascript" src="js/jquery.3.2.1.min.js"></script>
    <!--JS实现AJAX部分-->
    <script type="text/javascript">
        $(function () {
            //获取所有课程
            $.ajax({
                url: "/course",    //请求的URL地址
                type: "get", //请求方法，GET、POST、PUT、DELETE在这里设置
                //timeout: 5000,    //超时时间
                dataType: "json",    //返回的数据格式：json/xml/html/script/jsonp/text
                success: function (data) {
                    for (var i = 0; i < data.length; i++) {
                        var course = data[i];
                        var cname = course.cname;
                        var cmain = course.cmain;
                        $("#dysource").append(
                            "<div class='col-lg-4 col-md-6 col-sm-6 col-ms-6' ><div class='item'><div class='header'><div class='sub' style='font-size: 30pt;font-weight: 500;'>"
                            + cname
                            + " </div>"
                            + "</div><ul ><li class='yes'>"
                            + cmain
                            + "</li>"
                            + "</ul><a class='btn btn-pink' href=' " + cname + "'>预约</a></div></div>"
                        );
                    }
                }
            });

//获取所有教练信息
            $.ajax({
                url: "/allTrainer",    //请求的URL地址
                type: "get", //请求方法，GET、POST、PUT、DELETE在这里设置
                //timeout: 5000,    //超时时间
                dataType: "json",    //返回的数据格式：json/xml/html/script/jsonp/text
                success: function (data) {
                    for (var i = 0; i < data.length; i++) {
                        var trainer = data[i];
                        var tid = trainer.tid;
                        var tname = trainer.tname;
                        var tphone = trainer.tphone;
                        var tpassword = trainer.tpassword;
                        var tintroduce = trainer.tintroduce;
                        var tphoto = trainer.tphoto;
                        console.log(tintroduce)
                        $("#coaches").append(
                            "<div class='col-lg-3 col-md-6 col-sm-6 col-ms-6'><div class='item'><a href='#' class='photo'><img src='images/"
                            + tphoto
                            + "' style='width: 270px;height: 270px' class='full-width' alt='Coach'/></a>"
                            + "<div class='descr'><a href='#' class='header'>"
                            + " "
                            + "<span>"
                            + tname
                            + "</span></a><br/>"
                            + "Experience:"
                            + "<strong>"
                            + tintroduce
                            + "</strong></div><div class='bottom'> <a href='#' class='social-twitter fa fa-twitter'></a> <a href='#' class='social-fb fa fa-facebook'></a> <a href='#' class='social-inst fa fa-instagram'></a> </div> </div></div> "
                        );
                    }
                }
            });


        });
    </script>
</section>
<section class="coaches">
    <div class="container">
        <h3><span>教练简介</span></h3>
        <div class='row' id="coaches">
            <!--显示教练简介-->
        </div>
    </div>
    <a href="#" class="btn btn-pink">All coaches</a>
    </div>
</section>


<footer>
    <div class="container">
        Copyright &copy; 2017.Company name All rights reserved.F51
        <a href="#" class="go-top fa fa-arrow-up hidden-xs hidden-ms"><span>go top</span></a>
    </div>
</footer>
<script type="text/javascript" src="assets/js/jquery.min.js"></script>
<script src="assets/js/jquery-ui.js"></script>
<script type="text/javascript" src="assets/js/jquery.parallax-1.1.3.js"></script>
<script type="text/javascript" src="assets/js/jquery.localscroll-1.2.7-min.js"></script>
<script type="text/javascript" src="assets/js/jquery.scrollTo-1.4.2-min.js"></script>
<script type="text/javascript" src="assets/js/collapse.js"></script>
<script type="text/javascript" src="assets/js/scrollreveal.js"></script>
<script type="text/javascript" src="assets/js/countUp.js"></script>
<script type="text/javascript" src="assets/js/swiper.jquery.js"></script>
<script type="text/javascript" src="assets/js/jquery.matchHeight.js"></script>
<script type="text/javascript" src="assets/js/jquery.swipebox.js"></script>
<script type="text/javascript" src="assets/js/masonry.pkgd.min.js"></script>
<script type="text/javascript" src="assets/js/jquery.zoomslider.js"></script>
<script src="assets/js/map-pink.js"></script>
<script type="text/javascript" src="assets/js/scripts.js"></script>
</body>
</html>